importFrom("utils", "packageVersion")
importFrom("utils", "browseURL")

export(HArray)
export(HDataType)
export(HAudioSink)
export(HResampler)
export(HResamplerType)
export(HSincInterpolationParameters)
export(HPolynomialDegree)
export(HWindow)
export(HMetadataType)
export(HFile)
export(HFft)
export(HStft)
export(HArrayAudio)
export(hdocs)
export(HDecoderStream)
export(HDecodedAudio)
export(HWindowType)
export(HInterpolationType)

S3method("==",HArray)
S3method("==",HDataType)
S3method("==",HMetadataType)
S3method("==",HResamplerType)
S3method("==",HPolynomialDegree)
S3method("==",HWindowType)
S3method("==",HInterpolationType)
S3method("!=",HArray)
S3method("!=",HDataType)
S3method("!=",HMetadataType)
S3method("!=",HResamplerType)
S3method("!=",HPolynomialDegree)
S3method("!=",HWindowType)
S3method("!=",HInterpolationType)
S3method(print,HArray)
S3method(print,HDataType)
S3method(print,HMetadataType)
S3method(print,HResampler)
S3method(print,HResamplerType)
S3method(print,HPolynomialDegree)
S3method(print,HWindowType)
S3method(print,HInterpolationType)
S3method(print,HSincInterpolationParameters)
S3method(print,HFft)
S3method(print,HStft)

useDynLib(harmonium, .registration = TRUE)
